/* 
	STYLE.CSS:
	One stylesheet to rule them all.
	
	selector { property:value }
	
*/


/* -------  General Styles ------- */

body {
  margin: 0;
  background-color: #181818;
}

header {
  background-color: #000000;
  width: auto;
  height: auto;
}

.logo {
  color: #414141;
  font-family: 'Caviar Dreams';
  font-size: 72px;
  margin: 0;
  padding: 90px 0 0 80px;
}


h2 {
  color: #7a7a7a;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  font-style: oblique;
  margin: 0;
  padding: 0 0 0 80px;
}

.logo + h2 {
  margin-top: -5px;
}

.long {
  display: block;
  border: none;
  height: 20px;
  background: linear-gradient(to right, #e58c00, #bebebe);
}

.hello {
  background-color: #0b0b0b;
  margin: 40px 160px;
  padding: 40px 160px;
  overflow: auto;
}

article {
  text-align: right;
}

.intro {
  font-size: 40px;
  font-family: 'Oswald Regular';
  color: #bebebe;
  margin: 0;
}

.small {
  display: block;
  border: none;
  height: 2px;
  background-color: #e58c00;
}

ul {
  list-style-type: square;
  margin:0 0 1em 15px;
  padding: 0;
  list-style-position: inside;
  direction: rtl;
  font-size: 24px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #bebebe;
}

li {
  margin: 25px 0px;
}

.left {
  float: left;
  margin-right: 10px;
}

.img1 {
  float: right;
  margin-left: 10px;
}

.about {
  background-color: #bebebe;
  margin: none;
  padding: 25px 160px 50px;
}

.sub-headings {
  text-align: center;
  color: #181818;
  font-family: 'Oswald Regular';
  font-size: 60px;
  margin: none;
}

.sub-headings2 {
  text-align: center;
  color: #bebebe;
  font-family: 'Oswald Regular';
  font-size: 60px;
  margin: none;
}

p {
  color: #181818;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
  text-align: center;
}

.talk {
  color: #bebebe;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
  text-align: center;
}

ol {
  color: #bebebe;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
  margin: 0px 640px;
}

a {
  text-decoration: none;
}
a:link {color: #7a7a7a;}
a:visited {color: white;}
a:hover {color: #414141;}
a:active {color: #e58c00;}

footer {
  background-color: #000000;
  margin: none;
  padding: 40px 40px;
  height: 80px;
  color: #181818;
  text-align: right;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
}